<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
  crossorigin="anonymous">
<div class="wrapper">
  <div id="myModal" class="modal">
    <div class="modal-content">
      <p>Find a car to buy</p>
      <div class="form-group">
        <select class="form-control" (change)="setMake($event)">
          <option>
              Select a Make
          </option>
            <option *ngFor="let make of menuMakes" value={{make.Value}}>
                {{make.Display}}
            </option>
        </select>
        <select *ngIf="menuModel" class="form-control" >
            <option>
                Select a Model
            </option>
            <option *ngFor="let model of menuModel" value={{model.Value}}>
                {{model.Display}}
            </option>
        </select>
      </div>
    </div>

  </div>
</div>