.wrapper {
    /* height: 100vh; */
    background-color: black;
}

.searchButton {
    margin: 8px;
}
    
.form-control {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    margin: 8px;
}
  
.search-panel {
    background-color: aliceblue;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
    background-color: black;
}

@media  (max-device-width : 414px),  (max-width : 600px)
and (orientation : portrait) {
    .search-panel {
        background-color: aliceblue;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1em;
        background-color: black;
    }
}

.single-panel {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

.single-panel * {
    width: 95%;
}

.double-panel {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "title title"
        "select1 select2";
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    margin-right: 8px;
}

.double-panel-header {
    grid-area: title;
    margin-left: 8px;
}

.double-panel-left {
    grid-area: select1;
}

.double-panel-left * {
    width: 95%;
}

.double-panel-right {
    grid-area: select2;
    text-align: right;
}

.double-panel-right * {
    width: 95%;
}

select {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    min-width: 70px;
}

.select-left {
    margin-left: 8px;
}

.select-right {
    margin-left: 8px;
}